<!-- ko with: home -->
<div class="row">
    <div class="input-group col-sm-12 col-md-6">
        <input id="joinRoomName" type="text" class="form-control" placeholder="Room Name">
        <div class="input-group-append">
            @Html.ActionLink("Join", "ChatRoom", null, new { @class = "btn btn-outline-secondary" })
        </div>
    </div>
</div>
@Html.ActionLink("Join Global", "ChatRoom", null, new { @class = "btn btn-primary" })
<!-- /ko -->
